# temporary, exclude fonts from git commit
assets/fonts

*.vscode/

.github/workflows/
*.py
*.exe
testing


.DS_STORE
/pip_test
/_python_build
*.env

# Byte-compiled / optimized / DLL files
__pycache__/

/build
build/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Folder named secret
secret/
/secret